.chat {
  display: flex;
  justify-content: space-between;
  background: #eee;
  height: 100vh;
  margin-top: 60px;
}
.chatSection,
.non {
  height: calc(100% - 1.5em);
  flex-basis: 40%;
  margin: 12px 2px 7px 7px;
  background: #fff;
  box-shadow: 0px 4.2171px 21.0855px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  overflow: scroll;
}
.non {
  display: grid;
  place-content: center;
}
.non h1 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.5em;
  line-height: 36px;
  text-align: center;
  color: #4063d6;
  width: 70%;
  margin: auto;
}
.part,
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head {
  background: #092685;
  padding: 1em 5%;
}
.part div {
  margin-left: 1em;
}
.part p {
  font-family: "Montserrat";
}
.part p {
  font-weight: 600;
  font-size: 1.12em;
  line-height: 22px;
  color: #ffffff;
}
.part p:nth-child(2) {
  font-weight: 500;
  font-size: 0.7em;
  color: rgba(255, 255, 255, 0.8);
}
.icon {
  color: #fff;
  font-size: 1.5em;
}
.chatLog {
  height: auto;
  overflow: scroll;
  background: #fff;
  width: 90%;
  margin: 1em auto;
}
.chatLog div {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.time {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.7em;
  color: #323232;
}
.chatLog article {
  display: flex;
  margin: 0.5em 0;
}
.chatLog img {
  height: 2.5em;
  border-radius: 50%;
}

.chatLog article:nth-child(even) p:first-child {
  background: rgba(112, 112, 112, 0.88);
}
.chatLog article:nth-child(odd) p:first-child {
  background: #4063d6;
}
.chatLog article p:first-child {
  border-radius: 50px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8em;
  padding: 1.5em 1em;
  color: #ffffff;
  line-break: anywhere;
  min-width: 100px;
}
.chatLog article:nth-child(even) {
  justify-content: end;
  flex-direction: row-reverse;
}
.text {
  background: #eee;
  padding: 1em 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  align-items: center;
  background-color: #fff;
  display: flex;
  width: 92%;
  border: 0.5px solid rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  padding: 1em;
  justify-content: space-between;
}
.input textarea {
  width: 92%;
  background: transparent;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.7);
  height: auto;
}
.icon1 {
  color: #323232;
  font-size: 1em;
}
.icon2 {
  background: #4063d6;
  box-shadow: 0px 3.58333px 201px rgba(64, 99, 214, 0.4);
  padding: 0.2em;
  font-size: 2em;
  color: #fff;
  border-radius: 50%;
}
