.updateCont {
  display: flex;
  background: #fff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 1.5em;
  align-items: flex-start;
  margin-top: 1em;
}
.updateCont img {
  width: 10em;
  height: 10em;
  margin-right: 1.5em;
}
.updateInfo {
  width: 70%;
}
.updateCont div p {
  font-family: "Poppins";
}
.updateCont div p:nth-child(1) {
  font-weight: 500;
  font-size: 1em;
  color: #07174b;
}
.updateCont div p:nth-child(2) {
  font-weight: 500;
  font-size: 12.6501px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.updateCont div p:nth-child(3) {
  font-weight: 400;
  font-size: 0.9em;
  line-height: 20px;
  color: #323232;
}
.lineDiv {
  border-top: 1px solid rgba(50, 50, 50, 0.48);
}
