.section {
  min-height: 500px;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../public/Background.jpg");
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10% 0;

  /* done  */
}
.phone {
  height: 90vh;
  width: 30vw;

  /* done  */
}
.article p {
  color: #07174b;
  font-style: Medium;
  font-size: 2em;
  text-align: Left;
  width: 328px;
  line-height: 50px;

  /* done  */
}
.article span {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;

  /* done  */
}
.download {
  margin-top: 30px;

  /* done  */
}
.download p {
  color: #1e1e1e;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: capitalize;

  /* done  */
}
.download-images {
  width: 280px;
  display: flex;
  justify-content: space-between;

  /* done  */
}

@media (max-width: 580px) {
  .container {
    display: grid;
    place-content: center;
    height: 100vh;
    min-height: 500px;
    width: 100vw;

    /* done  */
  }

  .phone {
    display: none;

    /* done  */
  }
}
