.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav img {
  height: 2em;
}
.sign,
.signapp {
  display: flex;
  align-items: center;
}
.sign li {
  padding: 10px 2em;
  font-size: 1em;
  text-transform: capitalize;
  color: #fff;
}
.signCta {
  background: #9e1c33;
  border-radius: 5px;
  box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.5);
}

/* app nav */

.navtext {
  color: #07174b;
  font-style: italic;
  font-weight: 700;
}
.signapp li img {
  height: 1.7em;
  margin-left: 20px;
}

/* side nav */

.sidenav {
  left: 0;
  width: auto;
  background: #07174b;
  list-style: none;
  height: 100vh;
}
.sidenav1 {
  flex-basis: 25%;
  padding: 10% 2em;
}
.side {
  padding: 10% 0.8em;
  flex-basis: 5%;
}
.sidenav li {
  border-bottom: 0.6px solid rgba(225, 225, 225, 0.5);
  color: #fff;
  font-size: 1em;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 1em;
}

/* admin nav  */

.adminNav {
  width: 22%;
  background: #07174b;
  box-shadow: 0px 4.15135px 20.7568px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  grid-gap: 1em;
}
.adminNav div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.adminNav div:hover {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 18.9026px rgba(0, 0, 0, 0.15);
  border-radius: 19.6882px;
}
.adminNav div p {
  font-family: "Poppins";
  font-size: 0.8em;
  margin-top: 0.5em;
  /* width: 60%; */
}
.logout {
  background: #f00;
  border-radius: 50%;
  padding: 0.1em;
  color: #07174b;
}
.icon1 {
  font-size: 2em;
}
