.section {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: url(../../public/Background_cleanup.jpg);
  background-size: 100% 100%;
  position: relative;
}
.section1 {
  background: url(../../public/Background.jpg);
  background-size: 100% 100%;
}
.icon {
  position: absolute;
  left: 2em;
  font-size: 1.6em;
  font-weight: 900;
  color: #4063d6;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8% 5% 5% 7%;
}
.phone {
  height: 90vh;
  flex-basis: 60%;
}
.section form {
  flex-basis: 26%;
}
.section input {
  display: block;
  outline: none;
  width: 100%;
  border: 0.53px solid rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  outline: none;
}
.section h1 {
  color: #07174b;
  font-size: 1.3em;
  margin-bottom: 15px;
}
.section div p,
.section label {
  padding-top: 20px;
  color: #4063d6;
  font-size: 0.8em;
  text-transform: capitalize;
}
.section input[type="button"] {
  background: #4063d6;
  width: auto;
  border: none;
  font-size: 0.8em;
  font-weight: 450;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}
.section span {
  font-weight: 700;
  color: #4063d6;
  text-transform: capitalize;
}
.foot {
  font-size: 0.9em;
  font-weight: 500;
  margin-top: 20px;
  margin-right: 10px;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action .forgot {
  color: #9e1c33 !important;
  font-weight: 600;
}
.action .login {
  font-weight: 700;
  font-size: 0.8em;
  color: black;
  text-transform: lowercase;
}
.forget {
  font-size: 0.8em;
  color: #323232;
  padding: 12px 0;
}
.logo {
  position: absolute;
  top: 20px;
  left: 5%;
}
.section div label {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  width: auto !important;
  color: black !important;
  margin-right: 10px;
  padding: 0 !important;
}
.section div p {
  padding: 0;
}

@media (max-width: 1000px) {
  .phone {
    display: none;
  }
  .container {
    /* height: 100vh; */
    min-height: 800px;
  }
  .section form {
    flex-basis: 98%;
    background: rgba(242, 238, 238, 0.7);
    margin: auto !important;
    padding: 1em;
    border-radius: 0.6em;
    max-width: 600px;
    box-shadow: 5px 3px 48px rgba(0, 0, 0, 0.3);
  }
}
