.notification1 {
  flex-basis: 25%;
}
.line {
  border-bottom: 0.5px solid rgba(50, 50, 50, 0.35);
  width: 90%;
  margin: auto;
}
.notification {
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 5px 0px;
  overflow: scroll;
}
.container p {
  display: flex;
  align-items: center;
}
.top {
  display: flex;
  color: #4063d6;
  justify-content: space-between;
  font-weight: 550;
  align-items: center;
  border-bottom: 0.58px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 0.8em;
}
.top p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4063d6;
}

.chat {
  color: green;
  /* font-size: 20px; */
  margin-right: 10px;
}
.container {
  padding: 0 15px;
}

.box {
  display: flex;
  padding: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.58px solid rgba(0, 0, 0, 0.1);
}
.box img {
  border-radius: 50%;
  height: 3em;
  width: 3em;
  margin-right: 0.7em;
}
.box button {
  font-size: 0.6em;
  background: #4063d6;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}
.part div {
  flex-direction: column;
  justify-content: space-between;
}
.part {
  display: flex;
}
.part p {
  font-family: "Poppins" !important;
}
.name {
  font-weight: 600;
  font-style: italic;
  color: #07174b;
  font-size: 12px;
  text-transform: capitalize;
  text-align: left;
  font-family: "Poppins";
}
.name1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.3em;
  line-height: 31px;
  color: #4063d6;
  text-transform: capitalize;
}
.message {
  margin-top: 5px;
  font-style: italic;
  font-size: 10px;
  text-align: left;
}
.message1 {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 1.05em;
  line-height: 24px;
  color: #323232;
}
.tick {
  color: rgba(0, 0, 0, 0.2);
}
.time {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.time p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12.6353px;
  line-height: 19px;
  text-align: right;
  color: rgba(50, 50, 50, 0.6);
  margin-bottom: 1em;
}
.name2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #07174b;
}
.course,
.username {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 6.33278px;
  line-height: 9px;
  color: rgba(0, 0, 0, 0.7);
}

/* media queries */

@media (max-width: 1000px) {
  .notification1 {
    flex-basis: 35%;
  }
}
@media (max-width: 600px) {
  .notification1 {
    display: none;
  }
}
