.center {
  padding: 1em;
  /* height: calc(100%-125px); */
}
.center p {
  font-family: poppins;
}
.center h2 {
  color: #07174b;
  font-weight: 400;
  font-size: 30px;
  font-size: poppins;
  line-height: 45px;
  font-size: poppins;
  display: flex;
  align-items: center;
}
.ques {
  padding: 5em 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ques ul {
  display: flex;
}
.ques ul li a {
  color: #fff;
}
.ques ul li {
  margin-left: 1.3em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: poppins;
  padding: 0.8em;
  border-radius: 0.4em;
  cursor: pointer;
}

.faq {
  background: #fff;
  padding: 1em;
  margin-top: 1.2em;
  height: calc(100% - 6em);
  overflow: scroll;
}
.p1 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9em;
  color: #000000;
  padding: 0.3em 0;
}
.p2 {
  font-weight: 500;
  font-size: 1em;
  color: #4063d6;
}
.answer {
  background: rgba(64, 99, 214, 0.1);
  border-radius: 2px;
  padding: 1.4em;
  margin: 0.4em 0 1em;
}
.p3 {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9em;
  padding-bottom: 0.3em;
}
.p4 {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9em;
  color: #000000;
}
