.feed {
  overflow: hidden;
}
.top1 {
  display: flex;
  justify-content: space-around;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 10px;
  background: #fff;
}
.top1 p {
  background: #fff;
  width: 100%;
  text-align: center;
  color: rgba(50, 50, 50, 0.45);
  font-weight: 700;
  padding: 10px 10px 15px;
}
.top1 p:nth-child(1) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  color: #4063d6;
  position: relative;
}
.top1 p:nth-child(1)::after {
  position: absolute;
  width: 30%;
  background: #4063d6;
  height: 2px;
  bottom: 0;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}
.posts {
  display: flex;
  align-items: flex-start;
  margin: 1em;
  padding: 0.8em;
  box-shadow: 0px 4px 25px 0px #0000001a;
  position: relative;
}
.posts img {
  height: 115px;
  width: 115px;
  border-radius: 10px;
  margin-right: 20px;
}
.postContent {
  width: 70%;
}
.postHead {
  color: #07174b;
  font-size: 0.9em;
}
.save {
  position: absolute;
  background: rgba(50, 50, 50, 0.35);
  border-radius: 2px;
  padding: 5px;
  top: 10px;
  right: 10px;
  font-size: 0.6em;
  font-weight: 500;
  color: #ffffff;
}
.date {
  font-style: medium;
  font-size: 0.7em;
  text-align: Left;
  fill: Solid;
  color: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.description {
  font-style: Regular;
  font-size: 0.9em;
  text-align: Left;
  color: #323232;
}
.likes {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  color: rgba(50, 50, 50, 0.78);
  margin: 7px 0;
}
.likes p:first-child,
.comment p:first-child {
  margin-right: 20px;
}
.comment {
  padding: 7px 0;
  border-top: 1px solid rgba(50, 50, 50, 0.48);
  display: flex;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.45);
}
.likes p,
.comment p {
  display: flex;
  align-items: center;
}
.container {
  overflow: scroll;
  height: 100vh;
  margin-top: -220px;
  padding-top: 220px;
}
