.container {
  overflow: scroll;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 97%;
  padding-bottom: 2em;
  margin: 0 auto;
  position: relative;
}
.containerAdd {
  justify-content: space-evenly;
}
.friend {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 32%;
  height: auto;
  position: relative;
  margin: 1em 0 0;
  padding: 1.5em;
  box-shadow: 0px 8.57915px 27.6069px rgba(0, 0, 0, 0.1);
  border-radius: 14.2986px;
}
.friendAdd {
  flex-basis: 23%;
  height: auto !important;
}
.role {
  font-style: italic;
  font-weight: 500;
  font-size: 0.8em;
  color: #ff0000;
  margin-bottom: 0.8em;
}
.container p {
  font-family: "poppins";
}
.friend div {
  border-radius: 50%;
  width: 6em;
  position: relative;
}
.friend div p {
  width: 1em;
  height: 1em;
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 1em;
  border-radius: 50%;
}
.friend img {
  width: 100%;
  /* height: 100%; */
}
.name {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14.0543px;
  line-height: 21px;
  text-align: center;
  color: #4063d6;
}
.course {
  font-weight: 500;
  font-size: 10.3658px;
  line-height: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding: 0.8em 0;
}
.friend button {
  background: #039b2d;
  border-radius: 5.01938px;
  font-weight: 500;
  font-size: 0.7em;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  padding: 0.5em 2em;
  /* width: 50%; */
}
.category {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: grid;
  /* place-content: center; */
}
.catdiv {
  background: #fff;
  width: 60%;
  height: auto;
  margin: auto;
  z-index: 12;
  padding: 7% 5%;
}

.title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.5em;
  line-height: 36px;
  color: #4063d6;
  padding-bottom: 0.1em;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.6);
}
.radio {
  display: flex;
  margin-top: 1em;
}
.radio p {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.45em;
  color: rgba(50, 50, 50, 0.6);
  margin-left: 0.3em;
}
.catdiv form div {
  margin-left: 10%;
}
.catdiv form button,
.catdiv form div label {
  font-family: "Poppins";
  font-weight: 500;
}
.catdiv form button:disabled {
  background: rgba(50, 50, 50, 0.35);
}
.catdiv form button {
  background: #4063d6;
  padding: 0.5em 1.5em;
  border-radius: 4.83235px;
  font-size: 1em;
  color: #ffffff;
  margin-top: 1em;
}
.catdiv form div label {
  font-size: 1em;
  color: rgba(50, 50, 50, 0.35);
}
.catdiv form div select {
  border: 0.516349px solid rgba(0, 0, 0, 0.35);
  border-radius: 1.93294px;
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
}
.added {
  display: flex;
  align-items: center;
  font-family: "Poppins";
  font-size: 1.26em;
  margin-left: 5%;
  font-weight: 400;
  color: #4063d6;
}
.verify {
  /* font-family: 'Poppins'; */
  font-weight: 500;
  font-size: 8.62069px;
  line-height: 13px;
  color: #ffffff;
  background: #4063d6 !important;
  border-radius: 2px;
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  padding: 0.5em !important;
}
