.arrow {
  margin: 15px;
  font-size: 1.5em;
  color: #4063d6;
}
.postContent {
  background: #fff;
  padding: 1.5em;
  height: 100%;
  overflow: scroll;
}
.postContent img {
  max-height: 60vh;
  width: 100%;
}
.postContent h2 {
  color: #07174b;
  font-size: 1.1em;
  padding: 1.3em 0;
  font-size: poppins;
}
.postDetails {
  display: flex;
  justify-content: space-between;
}
.description {
  color: #000000e5;
  font-size: 0.95em;
  padding: 1em 0;
}

.comment h3 {
  color: #4063d6;
  font-size: 1.2em;
  padding: 15px 0;
  font-weight: 550;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.commentBox article {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2em 0 1em;
}
.commentBox article img {
  width: 4em;
  height: 4em;
}
.commentinfo {
  width: 89%;
  color: #1e1e1e;
}
.user {
  display: flex;
  justify-content: space-between;
}
.name {
  color: #07174b;

  font-size: 1em;
  text-transform: capitalize;
}
.course {
  font-size: 0.7em;
  text-transform: capitalize;
  padding: 7px 0;
}
.time {
  font-size: 0.9em;
}
.commentcont {
  font-size: 0.85em;
  width: 90%;
  line-height: 1.5em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.like {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  margin-top: 1em;
}
.givecom {
  margin-top: 2em;
}
.givecom h3 {
  border: none;
}
.givecom button {
  background: #4063d6;
  color: #fff;
  padding: 1.4em;
  border: none;
  margin-top: 1.5em;
}
.givecom textarea {
  height: 40%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-style: italic;
}
