.profile {
  background: #fff;
  height: 100%;
  overflow: scroll;
  position: relative;
  padding-top: 1em;

  /* done  */
}
.extra {
  margin-top: 1em;
}
.profile p,
.profile h1 {
  font-family: "Poppins";
  display: flex;
  align-items: center;
}
.mainInfo1 {
  padding: 1em;
}
.mainInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.mainInfo img {
  width: 40%;
  border-radius: 50%;
}
.userInfo h1 {
  font-weight: 500;
  font-size: 1.55em;
  color: #4063d6;
}
.userInfo p {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
}
.follow {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.follow p {
  color: #4063d6;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
  display: block;
}

.follow p span {
  display: block;
  font-weight: 600;
  font-size: 2em;
}
.description {
  background: rgba(217, 217, 217, 0.25);
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.95em;
  text-align: justify;
  color: #000000;
  padding: 2em 1.5em 1em;
  width: 90%;
  margin: 0 auto;
}
.post {
  background: #ffffff;
  box-shadow: 0px 3.73444px 23.3402px rgba(0, 0, 0, 0.1);
  border-radius: 1.86722px;
  margin-top: 1em;
  padding: 1.3em;
}
.timeline {
  width: 95%;
  margin: 1em auto;
}
.timeline .head {
  font-weight: 400;
  font-size: 1.07em;
  text-align: justify;
  padding: 0.5em;
  color: #4063d6;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.6);
}
.user {
  display: flex;
  align-items: center;
}
.user img {
  width: 4em;
  border-radius: 50%;
  margin-right: 1em;
}
.user div p:nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  color: #4063d6;
}

.user div p:nth-child(2) {
  font-style: italic;
  font-weight: 400;
  font-size: 0.83em;
  color: rgba(0, 0, 0, 0.45);
}
.user div p:nth-child(3) {
  font-weight: 500;
  font-size: 0.67em;
  color: rgba(0, 0, 0, 0.5);
}
.postDescription {
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 2em;
  color: #323232;
}

.post div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
  border-bottom: 0.653527px solid rgba(50, 50, 50, 0.48);
}
.post div:nth-child(3) p {
  margin-left: 1em;
  font-weight: 500;
  font-size: 0.75em;
  color: rgba(50, 50, 50, 0.78);
}
.post div:nth-child(4) p {
  color: rgba(50, 50, 50, 0.78);
}
.post div:nth-child(4) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1em;
}
.dp {
  display: grid;
  place-content: center;
  min-height: 40vh;

  /* done  */
}
.dp img {
  width: 12em;
  border-radius: 50%;

  /* done  */
}
.dp button,
.profile form button {
  background: #4063d6;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-weight: 500;
  font-size: 0.8em;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

  /* done  */
}
.profile form {
  width: 70%;
  margin: 1em auto;
}
.profile form label {
  font-family: "Poppins";
  font-weight: 550;
  font-size: 1em;
  line-height: 121.5%;
  color: #4063d6;
}
.profile form input,
.profile form select,
.profile form textarea {
  outline: none;
  margin: 0.5em 0 1.5em;
  font-family: "Poppins";
  width: 100%;
  font-weight: 500;
  font-size: 0.97em;
  background: #ffffff;
  border: 0.534263px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 1em;
  line-height: 121.5%;
  color: rgba(0, 0, 0, 0.8);

  /* done  */
}

.profile form button {
  font-weight: 600;
  padding: 01em 2em;
  font-size: 1em;
}

.profile form textarea {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.8em;
  text-align: justify;
  color: #000000;
  padding: 2em;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 2px;
  border: none;
  min-height: 20vh;
}
.btns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1em 0 0 20%;
}
.btns1 {
  justify-content: end;
}
.btns button {
  font-family: "Poppins";
  padding: 0.6em 1.5em;
  color: #ffffff;
}
.btns button:nth-child(1) {
  background: #039b2d;
  border-radius: 2.52px;
  font-weight: 500;
  font-size: 0.74em;
}
.btns1 button,
.btns button:nth-child(2) {
  background: #4063d6 !important;
  border-radius: 2.52459px;
  font-weight: 600;
  font-size: 0.8em;
}

/* media queries */

@media (max-width: 1000px) {
  .mainInfo1 {
    align-items: flex-start;
  }
  .mainInfo1 .userInfo h1 {
    font-size: 1.2em;
  }
  .mainInfo1 .userInfo p {
    font-size: 0.9em;
  }
}
