@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
}
body {
  height: 100vh;
  /* overflow: hidden; */
  background: #eee;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  object-fit: contain;
}
textarea {
  resize: none;
}
input,
textarea,
select {
  outline: none;
  border: none;
}
button {
  border: none;
}
.edit {
  flex-basis: 80%;
  padding: 1%;
  overflow: scroll;
}
.burger {
  display: none;
}

@media (max-width: 1000px) {
  .edit {
    flex-basis: 100%;
  }
}
@media (max-width: 600px) {
  .burger {
    top: 0;
    left: 2%;
    /* position: absolute; */
    display: block;
  }
}
